---
version: "3.9"

services:
  app:
    build: .
    volumes:
      - $PWD/in:/in
    expose:
      - "9090"
    ports:
      - 3000:9090
    depends_on:
      mysqldb:
        condition: service_healthy

  mysqldb:
    image: mysql:8
    volumes:
      - db-data:/var/lib/mysql
      - ./dump:/docker-entrypoint-initdb.d/:ro
    expose:
      - "3306"
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=123@admin
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "mysqldb" ]
      timeout: 20s
      retries: 10

volumes:
  db-data:

networks:
  default:
    name: weight_default
    external: true
